<ion-header>
  <ion-toolbar >
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
    <ion-title>
     Claro
    </ion-title>
  </ion-toolbar>

</ion-header>
 
<ion-content>
  <div class="title">Escriba su Firma</div>
  <ion-row [ngClass]="{'drawing-active': isDrawing}">
    <ion-col ></ion-col>
    <ion-col >
      <signature-pad [options]="signaturePadOptions" (onBeginEvent)="drawStart()" (onEndEvent)="drawComplete()"></signature-pad>
    </ion-col>
    <ion-col ></ion-col>
  </ion-row>
</ion-content>
<ion-footer>
  <ion-button color="paraClear" (click)="clearPad()" fill="clear" expand="full" no-margin>
    Limpiar
  </ion-button>
  <br>
  <ion-button color="rojoDeClaro" (click)="savePad()"  fill="solid" expand="full" no-margin>
    Guardar
  </ion-button>
</ion-footer>