<ion-header>
  <ion-toolbar color="danger">
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
          Claro
        </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
 <h2 class="h2">Creo un nuevo contrato</h2>
  <!--<button class="btn btn-info" (click)="createPdf()">Crear Contrato</button>
  <button  class="btn btn-success" (click)="downloadPdf()"  [disabled]="!pdfObj" color="secondary">Descarga Contrato</button>-->
  <!--<button ion-button full >Modificar mis datos</button>-->
 
</ion-content>