:root{
    --ion-color-rojoDeClaro: #ef3829;
    --ion-color-rojoDeClaro-rgb: 255, 215, 0;
    --ion-color-rojoDeClaro-contrast: #ffffff;
    --ion-color-rojoDeClaro-contrast-rgb: 0, 0, 0;
    --ion-color-rojoDeClaro-shade: #ec1010;
    --ion-color-rojoDeClaro-tint: #fc1606;



    --ion-color-paraClear: #ef3829;
    --ion-color-paraClear-rgb: 255, 215, 0;
    --ion-color-paraClear-contrast:#ef3829;
    --ion-color-paraClear-contrast-rgb: 0, 0, 0;
    --ion-color-paraClear-shade: #f1dcdc;
    --ion-color-paraClear-tint: #f1e6e5;


}

.ion-color-rojoDeClaro {
    --ion-color-base: var(--ion-color-rojoDeClaro) !important;
    --ion-color-base-rgb: var(--ion-color-rojoDeClaro-rgb) !important;
    --ion-color-contrast: var(--ion-color-rojoDeClaro-contrast) !important;
    --ion-color-contrast-rgb: var(--ion-color-rojoDeClaro-contrast-rgb) !important;
    --ion-color-shade: var(--ion-color-rojoDeClaro-shade) !important;
    --ion-color-tint: var(--ion-color-rojoDeClaro-tint) !important;
   
}

.ion-color-paraClear{ 
    --ion-color-base: var(--ion-color-paraClear) !important;
    --ion-color-base-rgb: var(--ion-color-paraClear-rgb) !important;
    --ion-color-contrast: var(--ion-color-paraClear-contrast) !important;
    --ion-color-contrast-rgb: var(--ion-color-paraClear-contrast-rgb) !important;
    --ion-color-shade: var(--ion-color-paraClear-shade) !important;
    --ion-color-tint: var(--ion-color-paraClear-tint) !important;
}


.confirm-color{
    color: var(--ion-color-rojoDeClaro)  !important;
}