<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Claro</ion-title>
  </ion-toolbar>
</ion-header>
<!-- -->
<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" refreshingSpinner="circles">
    </ion-refresher-content>
  </ion-refresher>
  <ion-searchbar [(ngModel)]="buscar" (ionInput)="setFilterContratos()" placeholder="Buscar Contratos"></ion-searchbar>
  <ion-list>
    <ion-item-sliding *ngFor="let contrato of contratosFilter">
      <ion-item>
        <ion-avatar slot="start">
          <img src="assets/imgs/pdf.png">
        </ion-avatar>
        <ion-label>
          <h6>{{contrato.NRO_CI}} - {{contrato.NOMBRE}} {{contrato.APELLIDOS}}.pdf</h6>

        </ion-label>
      </ion-item>
      <ion-item-options side="end">
        <ion-item-option (click)="obtenerPDF(contrato.NRO_CI)" expandable color="light">Ver</ion-item-option>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

</ion-content>