
<ion-header>
  <ion-toolbar >
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Claro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list padding>
    <ion-item>
      <ion-label color="rojoDeClaro" position="stacked">Contrato</ion-label>
      <ion-select [(ngModel)]="datos.TIPO_CONTRATO" name="TIPO_CONTRATO" interface="action-sheet">
        <ion-select-option value="prepago">Prepago</ion-select-option>
        <ion-select-option value="postpago">Postpago</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label color="rojoDeClaro" position="stacked">Nombres</ion-label>
      <ion-input [(ngModel)]="datos.NOMBRE" type="text" name="NOMBRE" placeholder="Nombres" #NOMBRE></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="rojoDeClaro" position="stacked">Apellidos</ion-label>
      <ion-input [(ngModel)]="datos.APELLIDOS" name="APELLIDOS" type="text" placeholder="Apellidos" #APELLIDOS>
      </ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="rojoDeClaro" position="stacked">Nro de CI</ion-label>
      <ion-input type="number" name="NRO_CI" [(ngModel)]="datos.NRO_CI" placeholder="Cedula de Identidad" #NRO_CI></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="rojoDeClaro" position="stacked">E-mail</ion-label>
      <ion-input type="EMAIL" name="EMAIL" [(ngModel)]="datos.EMAIL"  placeholder="E-mail" 
      pattern="[A-Za-z0-9._%+-]{3,}@[a-zA-Z]{3,}([.]{1}[a-zA-Z]{2,}|[.]{1}[a-zA-Z]{2,}[.]{1}[a-zA-Z]{2,})" #EMAIL></ion-input>
    </ion-item>

    <ion-item>
      <ion-label color="rojoDeClaro" position="stacked">Direccion</ion-label>
      <ion-input [(ngModel)]="datos.DIRECCION" name="DIRECCION" type="text" placeholder="Direccion" #DIRECCION>
      </ion-input>
    </ion-item>
    <ion-item button detail="true" (click)="openSignatureModel()" [disabled]="!(APELLIDOS.value && NOMBRE.value && NRO_CI.value && DIRECCION.value && EMAIL.value)">
      <ion-icon slot="start" name="create"></ion-icon>
      <ion-label class="especial">Firma</ion-label>
    </ion-item>
    <ion-item button detail="true" (click)="getPictureFrontal()" [disabled]="!(datos.CI_FIRMA && APELLIDOS.value && NOMBRE.value && NRO_CI.value  && DIRECCION.value && EMAIL.value)" >
      <ion-icon slot="start" name="camera"></ion-icon>
      <ion-label class="especial">Foto CI Frontal</ion-label>
    </ion-item>
    <ion-item button detail="true" (click)="getPictureDorsal()" [disabled]="!(datos.CI_FIRMA && datos.CI_FRENTE && APELLIDOS.value && NOMBRE.value && NRO_CI.value && DIRECCION.value && EMAIL.value)" >
      <ion-icon slot="start" name="camera"></ion-icon>
      <ion-label class="especial">Foto CI Dorso</ion-label>
    </ion-item>
    
  </ion-list>
</ion-content>

<ion-footer>
  <ion-button color="rojoDeClaro" (click)='presentarConfirmation()' fill="solid" expand="full"
    [disabled]="!(datos.CI_FIRMA && datos.CI_FRENTE && datos.CI_ATRAS && APELLIDOS.value && NOMBRE.value && NRO_CI.value && DIRECCION.value && EMAIL.value)" no-margin>
    Crear Contrato
  </ion-button>
</ion-footer>
