.welcome-card ion-img {
  max-height: 35vh;
  overflow: hidden;
  max-width: 60vh ;

}
.parrafo{
padding-top: 30%;
padding-left: 20%;
padding-right: 20%;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
color: black;
font-size: medium;
}
.botones{
  padding-top: 5%;
}
.contenido{
  background: brown;
}

