<ion-header>
  <ion-toolbar >
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Claro
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class='contenido'>
  <ion-card class="welcome-card">
    <ion-img src="/assets/imgs/claro_oficial.png"></ion-img>
  </ion-card>
  <p class="parrafo">Obtenga el plan que mejor se ajuste a usted, cree un contrato</p>
</ion-content>